[MASTER]
# Files or directories to be skipped. They should be base names, not paths.
ignore=CVS,.git,__pycache__,data,tests

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    C0114, ; missing-module-docstring
    C0115, ; missing-class-docstring
    C0116, ; missing-function-docstring
    R0903, ; too-few-public-methods
    C0103, ; invalid-name
    W0612, ; unused-variable
    W0613  ; unused-argument

[TYPECHECK]
# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=sqlite3.*
